.heart {
  position: relative;
  padding: 0;
  height: 17px;
  width: 17px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  .heart__like {
    opacity: 0;
  }

  .heart__like, .heart__unlike {
    transition: opacity 1s;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    .heart__like {
      opacity: 1;
    }

    .heart__unlike {
      opacity: 0;
    }
  }
}