.background-grey {
  background-color: gray;
}

.bg-top-shadow {
  background: rgb(185,185,185);
  background: linear-gradient(180deg, rgba(185,185,185,1) 0%, rgba(209,209,209,1) 2%, rgba(209,209,209,1) 100%);
}